
params {
    alignment = "data/test_*/sample_alignment*.txt"
    query = "data/test_*/sample_query*.txt"
    publish_dir = "result"
    timestamp = ""
}


docker {
  enabled = true
  runOptions = '--privileged=true'
  fixOwnership = true
}

profiles {

    standard { includeConfig 'conf/standard.config' }
}
