


params.timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.publish_dir}/query_output_${params.timestamp}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.publish_dir}/query_output_${params.timestamp}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.publish_dir}/query_output_${params.timestamp}/pipeline_info/execution_trace.txt"
}
